.card-image {
  object-fit: cover;
  width: 80%;
  height:90px;
}
.material{
  background-color: rgb(250, 247, 247);
}
.like {
  position: absolute;
  left: 5%;
  bottom: 2%;
}
.share {
  position: absolute;
  left: 75%;
  bottom: 2%;
}

