.card-image {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  display: block;
  position: relative;
  
}
.material{
  align-items:center;
  margin-top: 10px;
  background-color:#fcde67;
}
.like {
  position: absolute;
  left: 5%;
  bottom: 2%;
}
.share {
  position: absolute;
  left: 75%;
  bottom: 2%;
}
.card{
  border: 1px solid rgb(0, 0, 0);
  background-color: #ffffff;
  width: 250px;
  margin: auto;
  margin-top: 30px;

}
.card-desc{
  text-align: center;
  background-color: #fff;
  display: block;
  font-size: 1.2rem;
  opacity: 1;
  padding: 10px;
}
.card-title{
  display: block;
  text-align: center;
  color: black;
  background-color: white;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

