.card-image {
  object-fit: cover;
  width: 100%;
  height: fit-content;
  
}
.material{
  background-color: rgb(250, 247, 247);
}
.like {
  position: absolute;
  left: 5%;
  bottom: 2%;
}
.share {
  position: absolute;
  left: 75%;
  bottom: 2%;
}
.card{
  width: 25px;
  margin: 20px;
  box-shadow: 0px 10px 10px -6px black;

}
.card-desc{
  text-align: center;
  background-color: #fff;
  display: block;
  font-size: 1.2rem;
  opacity: 1;
  padding: 10px;
}
.card-title{
  display: block;
  text-align: center;
  color: black;
  background-color: white;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

